:root {
    --global-header-height: 70px;

    --main-std-dark-bg-color: #333;
	--main-std-light-bg-color: #f2f2f2;
    --main-std-blue-color: #91d3ff;
}

#root:has(#wrapper.dark-mode) {
    background-color: var(--main-std-dark-bg-color);
}

#root:has(#wrapper.light-mode) {
    background-color: var(--main-std-light-bg-color);
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80vw;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--global-header-height);
}

main {
    display: flex;
    width: 100%;
    height: calc(100% - var(--global-header-height));

    & > aside {
        width: 30%;
        height: 100%;
    }

    & > section {
        width: 70%;
        height: 100%;
    }
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 10vw;
}