:root {
    --global-header-height: 70px;

    --main-std-dark-bg-color: #333;
	--main-std-light-bg-color: #fff;

    --main-std-dark-font-color: #333;
    --main-std-light-font-color: #fff;

    --main-std-blue-color: #1585a4;
}

#root:has(#wrapper.dark-mode) {
    background-color: var(--main-std-dark-bg-color);
}

#root:has(#wrapper.light-mode) {
    background-color: var(--main-std-light-bg-color);
}

#wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 95vw;
    height: 100vh;
    overflow: hidden;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--global-header-height);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    bottom: 30px;
    right: 10vw;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(5px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    to {
        opacity: 0;
        transform: translateY(5px);
    }
}